*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    color:#333;
}
html,body,.wrap{
    width: 100%;
    height: 100%;
}
.banner{
    width:500px;
    height:300px;
    margin:100px auto;
    overflow:hidden;
    position:relative; //!
    ul{
        width: 2000px;
        height: 300px;
        position: absolute;
        left: 0;
        top: 0;
        li{
            width: 500px;
            height: 300px;
            float:left;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    ol{
        position:absolute;
        bottom:40px;
        //background:red;
        width: 100%;
        height: 10px;
        li{
            width: 20px;
            height: 20px;
            text-align: center;
			line-height: 20px;
            border-radius:50%;
            color:#fff;
            float:left;
            background:rgba(0,0,0,.3);
            margin: 0 4px;
        }
        .active{
            background: blue;
        }
    }
    span{
        width: 40px;
        height:40px;
        position: absolute;
        top:50%;
        margin-top:-20px;
        background: rgba(0,0,0,0.3);
        text-align: center;
        line-height: 40px;
        color:#fff;
    }
    .left{
        left: 0;
    }
    .right{
        right:0;
    }
}